.closeOut {
    display:flex;
    width: 0px;
    border-radius: 5px;
    align-items: center;
    transition: all .4s;
}

.clsoeOut:hover {
    background-color: rgb(208, 62, 62);
}

.closeOut img {
    width: 100%;
}

.select-items {
    transition: all .4s;
}

.selectWidth {
    width: 30px;
    transition: all .4s;
    padding-right: 10px;

}


.finance-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 15px 15px;
    border-radius: 5px;
  }

  .finance-item:hover {
    background-color: rgb(243, 243, 243);
    transition: .5s all;
  }

  .finance-item-info {
    display:flex;
    width:100%;
    justify-content: space-between;
  }

  .finance-item p {
    text-align: left;
    margin: 0;
    font-size: 1rem;
    width: 150px;
  }
  .finance-item > span {
    width: 25px;
  }
 
  .finance-item > :nth-child(2) {
    display:flex;
    align-items: center;
  }
  
  p {
    vertical-align: middle;
  }

  .deleteItem {
    font-size: 1rem;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;

    border:none;
    outline:none;
    color:red;
  }