.dashboard {
    display: grid;
    width: 100%;
    height: 100%;
}

.input-containers {
    border-radius: 10px;
    border: solid black 1px;
  }
  

  .current-bal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    background-color:  #12131c;
    color:white;
    width: 760px;
    height: 195px;
  }

  .current-bal :nth-child(2) {
    font-size: 2rem;
  }