.dashboard {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: 1fr 1fr 1fr 1fr / 900px 1fr;
}

.input-containers {
    border-radius: 10px;
    border: solid black 1px;
  }
  

  .current-bal {
    justify-self: center;
    align-self: center;
    background-color:  #12131c;
    width: 760px;
    height: 195px;
  }