@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@font-face {
    font-family: Cinzel-Black;
    src: url(../assets/fonts/Cinzel-Bold.ttf);
}

 /* .landing-pg {
    background-color: rgb(27, 27, 27); 
    display:flex;
    width: 100%;
    color:white;
    height: 100%;
} */

#navbarNav {
    justify-content: end;
}

.landing-nav-item {
    padding: 1rem;
} */

/* .main-pg {
    width: 100%;
    background-color: black;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.bw-split {
    position: absolute;
    margin: 0 auto;
    display:block;
    height: 100%;
}

.arrow-trigger {
    width: 50px;
    height: 30px;
}

.landingLinks > a {
    padding: 0 1rem;
    color:white;
    text-decoration: none;
}


.chevyIco:hover {
    cursor: pointer;
    box-shadow: rgba(191, 191, 191, 0.219) 0px 2px 8px 0px;
}


/* Login & Signup Page Styles */
.login-page {
    display: flex;
    font-family: Cinzel-Black, Quicksand, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    color:white;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 2rem 2rem;
  }
  
  
  .home-links:hover {
    color:rgb(108, 108, 124);
    box-shadow: rgba(216, 216, 216, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 5px;
    }
  }
/* Working out the login page portion of trying to get an image in black and white sides */