@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


:root {
  --primary-color: #0d1b2a;
  --secondary-color: #1b263b;
  --tertiary-color: #415a77;
  --btn-color: #778da9;
  --text-color: #e0e1dd;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
}

body {
  /* font-size: 1.2vw !important; */
}

/* .app {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 300px);
  max-width: 2000px;
} */

.login-txt-div {

  color: black;
  text-align: center;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
}
.bg-tan {
  background-color: #f1e4d1;
}

.bg-bluey {
  background-color: #bfdbdc;
}

.bg-greenery {
  background-color: #a1d076;
}

.btn-green {
  background-color: #09804c;
}

.preview-block {
  padding: 2rem;
}

.welcomeh1 {
  padding: 1rem;
  background-color: rgb(245, 245, 245);
}

.add-btn {
  width: 80px;
}
.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button:hover,
.button:focus {
  background-color:#4e517e;
  /* opacity: .75; */
}

.input-amounts {
  display:flex;
  flex-direction: column;
}

#category-label {
  font-size: 2rem;
}

#category {
  padding: .5rem 2rem;
  border:none;
  background-color: rgba(196, 193, 193, 0.39);
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 2rem;
}

#category option {
}

option:hover {
  background-color: red;
}

.input-box {
  outline: none;
  padding: .8rem 1rem;
  border: solid rgb(235, 235, 235) 1px;
  border-radius: 7px;
}

.cashFlow-choices {
  display:flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2rem 2rem;
}

.input-selection button {
  margin-top: 20px;
  margin-right: 20px;
}

.modal-screen {
  position:fixed;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(39, 39, 39, 0.651);
}

.modal-container {
  position: fixed;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-color: rgb(250, 250, 250);
}

.input-btn {
  appearance: button;
  background-color: #12131c;
  border: 1px solid #12131c;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  height: auto;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 11px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  touch-action: manipulation;
}

.input-btn:disabled {
  opacity: 0.5;
}

.input-btn:focus {
  outline: 0;
}

.input-btn:hover {
  opacity: .80;
  /* border-color: rgba(96, 151, 180, 0.829); */
  
}

.bullet-menu{
  display:flex;
  position:relative;
  width: 25px;
  justify-content: center;
  align-items: center;  
  cursor:pointer;
}

.bullet-options {
  position: absolute;
  top: 40px;
  display:flex;
  flex-direction: column;
  z-index: 4;
  right: -10px;
  list-style-type: none;
  visibility:hidden;
  width: max-content;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.bullet-options > li {
  padding: 5px 0;
}

.bullet-active {
  visibility: visible;
}


/* .input-btn:active {
  background-color: #0039d7;
  border-color: #0039d7;
} */

.trash-ico {
  background-color: transparent;
  border: none;
}

.n-mod {
  color: black;
}

.btn {
  margin-top: 1.3rem;
  max-width: fit-content !important;
}

/* this needs to be specific to charts container or it could cause issues with other classes */
/* .w-25 {
  width: 35% !important;
} */

.input-div {
  border: rgb(184, 184, 184) solid 1px;
  border-radius: 5px;
  padding: 2px 3px;
}
/* CSS */
.rename-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.rename-option {
  border: none;
  outline: none;
  background-color: transparent;
}

.user-labels {
  overflow: hidden;
}
.user-labels:hover {
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
}

.logout-btn:hover {
  cursor: pointer;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.inflation > p {
  font-size: 1.5rem;
}

.login-decor {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.chart-box {
  text-align: center;
  width: 30%;
  max-width: 700px;
}

.active {
  padding: .8rem 0;
  background-color: #292a38;
}
.edit-png {
  opacity: 0;
}

.news-link {
  width: 25%;
}

.react-multiple-carousel__arrow {
  background-color: #d4d4d4;
}

.react-multiple-carousel__arrow--left {
  left: 0;
}
.react-multiple-carousel__arrow--right {
  right: 0;
}

.react-multi-carousel-track {
  text-align: center;
}

.selected {
  background-color: var(--tertiary-color);
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 7px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.charts-container {
  display:flex;
}



@media only screen and (max-width: 992px) {


  #root {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar-nav {
    flex-direction: row !important;
  }

  .news-Container {
    flex-direction: column;
    width: 100%;
  }

  .input-containers {
    text-align: center;
  }

  .news-link {
    width: 100%;
  }
  .app {
    height: initial;
  }

  .form-input {
    flex-direction: column;
    overflow: hidden;
  }

  .news-link img {
    display: none;
  }
  .chart-box {
    width: 100% !important;
  }
  .test-container {
    flex-direction: column;
  }

  .input-sections {
    margin: 1.8rem;
  }
  .userInputs {
    flex-direction: column;
    text-align: center;
    margin-top: 1.5rem;
  }

  
  .login-design {
    height: 34vh;
  }

  .credentials-wrapper {
    margin-top: 1.5rem;
  }

    .cpi-data {
    flex-direction: column !important;
  }
}
