html,
body,
#root,
.app {
  height: 100%;
}
.bg-tan {
  background-color: #f1e4d1;
}

.bg-bluey {
  background-color: #bfdbdc;
}

hr {
  width: 7rem;
  transform: rotate(90deg);
}

.copyright {
  top: 100vh !important;
}

.bg-greenery {
  background-color: #a1d076;
}

.btn-green {
  background-color: #09804c;
}

.input-item {
  margin-left: 2rem;
}

.money-input {
  margin: 0.5rem 0;
  margin-left: 2rem;
}

.module {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
}

.btn {
  margin-top: 1.3rem;
}

/* this needs to be specific to charts container or it could cause issues with other classes */
.w-25 {
  width: 35% !important;
}

/* CSS */
.rename-option {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  margin: 0 0.5rem;
  padding: 3px 20px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rename-option:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.user-labels:hover {
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
}
/* @media (min-width: 768px) {
  .rename-option {
    padding: 10px 30px;
  }
} */
