@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.login-page {
    display: flex;
    /* padding: 1.3rem; */
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    width: 100%;
  }

  .info-banner {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color:#1d2735;
    color:white;
    padding: 0 40px;
    max-width: 960px;
  }

  .web-title {
    display:flex;
    padding-bottom: 10px;
  }

  .web-title > img {
    margin-right: 10px;
  }

  .login-section {
    width: 50%;
    max-width:960px;
  }
  
  .form-container {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    z-index: 5;
    flex-direction: column;
    width: 100%;
  }

  .form-container form {
    display:flex;
    flex-direction: column;
    padding:2rem 0;
  }

  .login-options {
    display:flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  .login-options span label {
    padding-right: 10px;
  }
  
  .login-input {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: solid 0.2px rgba(105, 105, 105, 0.407);
    font-family: serif;
    width: 400px;
  }

  .visible-toggle {
    margin-left:-35px;
    cursor:pointer;
  }

  .pw-field {
    display:flex;
    align-items: center;

  }

  .landingpage-btn {
    color:white;
    outline:none;
    border:none;
    background-color: #31b099;
    border-radius: 10px;
    padding: .6rem 0;
    margin-top: 20px;
  }
  
  .home-links {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  a {
    color: rgba(0, 0, 0, 0.701) !important;
  }

  a:hover {
    color: rgb(116, 120, 116) !important;
  }

  
@media screen and (min-width: 1920px){
    .info-banner {
    border-radius: 30px;
  }
}

@media screen and (min-height: 1080px) {
    .info-banner {
      max-height: 1000px;
    }
}